@* Register/Index.cshtml *@
@model WorkflowDocMgmt.Web.Models.ViewModels.AdminRegisterViewModel

<h2>Admin Registration</h2>

<form asp-action="Index" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div>
        <label>Access Level</label>
        <select asp-for="AccessLevel" class="form-control">
            <option value="ReadWrite">ReadWrite</option>
            <option value="ReadOnly">ReadOnly</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
